<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- Compressed CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.4.3/dist/css/foundation.min.css" integrity="sha256-GSio8qamaXapM8Fq9JYdGNTvk/dgs+cMLgPeevOYEx0= sha384-wAweiGTn38CY2DSwAaEffed6iMeflc0FMiuptanbN4J+ib+342gKGpvYRWubPd/+ sha512-QHEb6jOC8SaGTmYmGU19u2FhIfeG+t/hSacIWPpDzOp5yygnthL3JwnilM7LM1dOAbJv62R+/FICfsrKUqv4Gg==" crossorigin="anonymous">
    <!-- Compressed JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.4.3/dist/js/foundation.min.js" integrity="sha256-mRYlCu5EG+ouD07WxLF8v4ZAZYCA6WrmdIXyn1Bv9Vk= sha384-KzKofw4qqetd3kvuQ5AdapWPqV1ZI+CnfyfEwZQgPk8poOLWaabfgJOfmW7uI+AV sha512-0gHfaMkY+Do568TgjJC2iMAV0dQlY4NqbeZ4pr9lVUTXQzKu8qceyd6wg/3Uql9qA2+3X5NHv3IMb05wb387rA==" crossorigin="anonymous"></script>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>Anagrama by cesardddp</title>
    <script></script>
</head>

<body>

    <form>
        <div class="grid-x grid-padding-x">
            <div class="small-12 large-12 cell">
                <label for="left-label" class="text-left" ><h2>Insira seu nome aqui e aperte enter:</h2></label>
                <input id="inputname" type="text" name="nome" placeholder="Digite nome aqui" >
            </div>
        </div>



    </form>

    {% if nome != '' %}
    <h1>{{nome}}</h1>
    <ul>
        {% for i in lista_templ %}
        <li> {{i[0].upper() +' '+i[1::]}}</li>

        {% endfor %}
    </ul>
    {% endif %}


    <script>
        // function linker(e) {
        //     if (e.KeyCode == 13) {
        //         name = document.getElementById("inputname");
        //         name = name.value;
        //         location.replace(string(name));
        //     }

        // }

    </script>
</body>

</html>